/* loading.css */

.loader {
    @apply w-16 h-16 rounded-sm inline-block relative text-white border border-solid border-current box-border;
    animation: fill 2s linear infinite alternate;
  }
  
  @keyframes fill {
    0% {
      box-shadow: 0 0 inset;
    }
    100% {
      box-shadow: 0 -64px inset;
    }
  }
  